<% content_for :title, "Editing tithe" %>

<h1>Editing tithe</h1>

<%= render "form", tithe: @tithe %>

<br>

<div>
  <%= link_to "Show this tithe", @tithe %> |
  <%= link_to "Back to tithes", tithes_path %>
</div>
