<p style="color: green"><%= notice %></p>

<% content_for :title, "Ofrendas" %>
<% content_for :count, @offerings.count %>


<div class="md:flex md:items-end md:justify-end">
  <%= render :partial => 'utils/show_hide_element', locals: { element: "cantidad", path: offerings_path(show_amount: params[:show_amount] != "true"), show: params[:show_amount] != "true" } %>
  <%= render :partial => 'utils/add_new_bottom', locals: { path: new_offering_path } %>
</div>

<div id="members">
  <%=
      render partial: 'utils/dynamic_table', locals: {
        table_id: 'simpleDataTable',
        headers: %w[Fecha Miembro Tipo Cantidad Nota Acciones],
        rows: @offerings.map { |offering| [offering.date, offering.member.name, offering.offering_type, offering.amount, offering.note, { path: offering_path(offering) }] },
        hide_rows: params[:show_amount] == "true" ? [] : [2]
      }
  %>
</div>
