<header>
  <div class="w-full bg-center bg-cover h-screen" style="background-image: url('https://images.unsplash.com/photo-1530688957198-8570b1819eeb?q=80&w=2414&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80');">
    <div class="flex items-center justify-center w-full h-full bg-gray-900/40">
      <div class="text-center">
        <h1 class="text-3xl font-semibold text-white lg:text-4xl">Iglesia <span class="text-blue-400">Jesus</span> te Ama</h1>
        <div class="py-4"></div>
        <a href="https://maps.app.goo.gl/R2ZsftXwKL1nLTKYA" class="relative inline-block text-lg group" target="_blank">
          <span class="relative z-10 block px-5 py-3 overflow-hidden font-medium leading-tight text-gray-800 transition-colors duration-300 ease-out border-2 border-blue-500 rounded-lg group-hover:text-white">
            <span class="absolute inset-0 w-full h-full px-5 py-3 rounded-lg bg-gray-50"></span>
            <span class="absolute left-0 w-48 h-48 -ml-2 transition-all duration-300 origin-top-right -rotate-90 -translate-x-full translate-y-12 bg-blue-500 group-hover:-rotate-180 ease"></span>
            <span class="relative">
              <i class="fa-solid fa-map-pin"></i>
              <span>Ver Mapa</span>
            </span>
          </span>
          <span class="absolute bottom-0 right-0 w-full h-12 -mb-1 -mr-1 transition-all duration-200 ease-linear bg-blue-500 rounded-lg group-hover:mb-0 group-hover:mr-0" data-rounded="rounded-lg"></span>
        </a>
      </div>
    </div>
  </div>
</header>
