<section class="w-full flex items-center justify-center">
  <div class="container relative flex flex-col px-6 py-8 mx-auto">
    <section class="flex items-center justify-center flex-1">
      <div class="flex flex-col w-full text-center">
        <h1 class="text-5xl font-extrabold lg:text-7xl 2xl:text-8xl mt-44">
            <span class="text-transparent bg-gradient-to-br bg-clip-text from-teal-500 via-indigo-500 to-sky-500 dark:from-teal-200 dark:via-indigo-300 dark:to-sky-500">
                Bienvenido a Iglesia CMS
            </span>
        </h1>

        <p class="max-w-3xl mx-auto mt-6 text-lg text-gray-700 dark:text-white md:text-xl">
          "Porque nosotros somos colaboradores de Dios, y vosotros sois labranza de Dios, edificio de Dios."
        </p>

        <p class="max-w-3xl mx-auto mt-6 text-lg text-gray-700 dark:text-white md:text-xl">
          1 Corintios 3:9 (LBLA)
        </p>
      </div>
    </section>
  </div>
</section>
