<!-- app/views/layouts/_navbar.html.erb -->
<nav class="bg-gray-800" data-controller="navbar">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div class="hidden md:block">
          <div class="flex items-baseline space-x-4">
            <%= nav_bar_links %>
          </div>
        </div>
      </div>

      <div class=" hidden md:flex justify-end">
        <%= link_to "Cerrar sesión", session_path, method: :delete, data: { turbo_method: :delete }, class: "w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600" %>
      </div>

      <div class="-mr-2 flex md:hidden">
        <!-- Botón del menú móvil -->
        <button type="button" class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white" data-action="click->navbar#toggleMenu" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!-- Icono de menú abierto: "hidden", Icono de menú cerrado: "block" -->
          <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" data-navbar-target="openIcon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!-- Icono de menú cerrado: "block", Icono de menú abierto: "hidden" -->
          <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" data-navbar-target="closeIcon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Menú móvil, mostrar/ocultar basado en el estado del menú. -->
  <div class="md:hidden hidden" id="mobile-menu" data-navbar-target="menu">
    <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
      <%= nav_bar_links %>
      <div class="py-4 flex justify-center">
        <%= link_to "Cerrar sesión", session_path, method: :delete, data: { turbo_method: :delete }, class: "w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600" %>
      </div>
    </div>
  </div>
</nav>