<!-- app/views/layouts/_navbar_links.html.erb -->
<a href="/miembros" class="block md:inline-block rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" data-navbar-target="link" aria-current="page">Miembros</a>
<a href="/ofrendas" class="block md:inline-block rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" data-navbar-target="link">Ofrendas</a>
<a href="#" class="block md:inline-block rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" data-navbar-target="link">Projects</a>
<a href="#" class="block md:inline-block rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" data-navbar-target="link">Calendar</a>
<a href="#" class="block md:inline-block rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" data-navbar-target="link">Reports</a>